/* MenuItems.css */

.product-card {
  margin-bottom: 1.5rem;
}

.thumbnail {
  width: 100%;
  background-color: var(--helper);
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.thumbnail img {
  transition: all ease 0.3s;
  display: block;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  height: 10rem;
}

.prod-details .name {
  font-size: 1.5rem;
  margin: 1.6rem 0 0.2rem;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #232223;
}

.prod-details .price {
  font-size: 2rem;
  color: #575457;
  font-weight: 400;
  line-height: 1.5;
}

.product-card:hover .thumbnail img {
  transform: scale(1.1);
}

.cart-buttons {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  margin-top: 1.5rem;
}

.quantity-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-right: 1rem;
  height: 4rem;
}

.quantity-buttons span {
  font-size: 1.8rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #6b6b6b;
}

.quantity-buttons span:nth-child(1) {
  border-right: 0.2rem solid rgba(0, 0, 0, 0.2);
}

.quantity-buttons span:nth-child(2) {
  width: 4rem;
}

.quantity-buttons span:nth-child(3) {
  border-left: 0.2rem solid rgba(0, 0, 0, 0.2);
}

.add-to-cart-button {
  background-color: black;
  color: var(--white);
  border-radius: 5rem;
  width: 100%;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  outline: none;
}

.add-to-cart-button:hover {
  background-color: var(--bg);
}

@media only screen and (min-width: 998px) {
  .wrapper {
    width: 23%;
  }

  .product-card .thumbnail {
    padding: 10px;
  }

  .product-card .thumbnail img {
    height: 18rem;
  }

  .prod-details .name {
    font-size: 1.8rem;
  }

  .prod-details .price {
    font-size: 2.2rem;
  }

  .cart-buttons {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    gap: 0;
  }

  .quantity-buttons {
    width: fit-content;
    display: flex;
    border: 0.2rem solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    margin-right: 1rem;
    height: 4rem;
  }

  .quantity-buttons span {
    font-size: 1.8rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #6b6b6b;
  }
}


/* Menu.css */

.menu-heading {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
}

.menu-sub-heading {
  color: var(--bg);
}

.products-container {
  margin: 5rem 0;
}

.sec-heading {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 1.5rem;
}

@media only screen and (min-width: 998px ) {
  .menu-heading {
    font-size: 4rem;
  }

  .products-container {
    margin: 10rem 0;
  }

  .products {
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: center;
    column-gap: 3rem;
    row-gap: 4.5rem;
  }
}
