
.register {
  max-width: 40rem;
  margin: 4rem auto;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  border: 1px solid #e9ecef;
  border-radius: 1rem;
  background-color: white;
  box-shadow: rgb(136, 136, 136) 0px 0px 5px 0px;
}

.register span {
  text-align: center;
  color: rgb(173, 181, 189);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.6rem 0 4rem;
  font-size: 1.4rem;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 2rem;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}

#form > input:focus {
  outline: none;
}

#form > .btn {
  margin: 2rem auto;
  background-color: var(--bg);
  color: var(--white);
  padding: 1.2rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#form > .btn:hover {
  background-color: var(--white);
  border: 1px solid var(--bg);
  color: var(--bg);
}

#form > input {
  color: var(--black);
  padding: 1.2rem 2rem;
  border: 1px solid var(--border);
  text-transform: uppercase;
  box-shadow: var(--shadowSupport);
  border-radius: 0.5rem;
}

#form > input:hover {
  border: 1px solid var(--black);
}

.flex {
  display: flex;
  gap: 1em;
}

.flex-col {
  flex-direction: column;
}

.register h2 {
  font-size: 3rem;
}

.register .register-account {
  color: var(--black);
  font-size: 1.5rem;
  text-align: center;
}

.register-btn {
  border: none;
  outline: none;
  background: transparent;
  color: var(--bg);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  padding-left: 0.6rem;
}


form > p {
  color: darkred;
  opacity: 0.7;
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 0rem 0 1rem;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {

  .register h2 {
    font-size: 4rem;
  }

  #form {
    padding: 0rem;
  }

  #form > input {
    padding: 1.6rem 2.4rem;
  }
}
